@media only screen and (min-width:1025px) and (max-width:1200px) {
.single_screen_slide {
	padding: 48px 30px 52px
}
}
@media only screen and (min-width:768px) and (max-width:1024px) {
.single_screen_slide {
	padding: 48px 30px 52px
}
}
@media only screen and (min-width:768px) and (max-width:991px) {
#mainmenu ul.nav.navbar-nav li a {
	padding: 20px 10px
}
}
@media only screen and (max-width:767px) {
	.navbar-brand{ padding: 10px 15px; }
.mainmenu-area {
	background: #1e5799;
	background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#16c9f6', GradientType=1)
}
.mainmenu-area .navbar-toggle {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #0769c1;
	border-radius: 1px;
	padding: 10px;
	-webkit-transition: .3s;
	transition: .3s
}
.mainmenu-area .navbar-toggle .icon-bar {
	background-color: #0769c1;
	-webkit-transition: .3s;
	transition: .3s
}
.mainmenu-area .navbar-toggle:focus, .mainmenu-area .navbar-toggle:hover {
	background-color: #fff
}
.mainmenu-area .navbar-toggle:focus .icon-bar, .mainmenu-area .navbar-toggle:hover .icon-bar {
	background-color: #50d1c0
}
.well.well-lg {
	padding: 30px
}
#mainmenu ul.nav.navbar-nav li a {
	text-align: center
}
.comment-list .media-left {
	display: inline-block;
	padding: 20px 20px 10px
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: top; }
	.iamCol p { display: inline !important; }
	.slideCol { text-align: top; margin-top: -20px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 765px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: top; }
	.iamCol p { display: inline !important; }
	.slideCol {text-align: top; margin-top: -20px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
	.iamCol { text-align: top;  }
	.iamCol p { display: inline !important; }
	.slideCol {text-align: top; margin-top: 5px; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
	.iamCol { text-align: right;  }
	.slideCol { text-align: left; }
}
	